﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Web Scraping Backoffice</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="genres">
                <span class="oi oi-list-rich"></span> Géneros y subgéneros
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="album-artist">
                <span class="oi oi-list"></span> Álbum por artista
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="artist-track">
                <span class="oi oi-person"></span> Artista por canción
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="artist-genre">
                <span class="oi oi-people"></span> Artista por género
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="track-album">
                <span class="oi oi-musical-note" aria-hidden="true"></span> Canción por album
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}