@page "/artist-track"
@inject HttpClient Http

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Búsqueda de artista por canción
                </h2>
                <p>
                    Escribe el nombre de una canción, puedes probar con "YOUR".
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <span class="form-inline">
                        <input class="form-control mr-sm-2" type="text" placeholder="CANCIÓN" @bind="Query"/>
                        <button class="btn btn-primary my-2 my-sm-0" @onclick="Search" disabled="@ButtonDisabled">
                            <span class="oi oi-magnifying-glass"></span> Buscar
                        </button>
                    </span>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (artists == null)
            {
                <p>
                    <em>Cargando...</em>
                </p>
            }
            else
            {
                <table class="table" hidden="@IsVisible">
                    <thead>
                    <tr>
                        <th>Artista</th>
                        <th>Track</th>
                        <th>Id. Artista</th>
                        <th>Id. Canción</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in artists)
                    {
                        <tr>
                            <td>@item.Artist</td>
                            <td>@item.Track</td>
                            <td>@item.ArtistId</td>
                            <td>@item.TrackId</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

@code {
    private ArtistTrackResponse[] artists = Array.Empty<ArtistTrackResponse>();
    private string Query { get; set; }
    private bool IsVisible => !(artists?.Any() ?? false);
    private bool ButtonDisabled { get; set; }

    private async Task Search()
    {
        ButtonDisabled = true;
        artists = await Http.GetFromJsonAsync<ArtistTrackResponse[]>($"artist/track?q={Query}");
        ButtonDisabled = false;
    }

}