﻿@page "/"

<h1>Hello, world!</h1>

<p>
    Ésta aplicación Front consume un <em>Microservicio</em> de <em>recursos REST</em> para consultar una fuente de datos generada a partir
    de la técnica <em>Web Scraping</em>.
</p>