@page "/track-album"
@inject HttpClient Http

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Búsqueda de canción por album.
                </h2>
                <p>
                    Escribe el nombre de un album, puedes probar con "COSMIC".
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <span class="form-inline">
                        <input class="form-control mr-sm-2" type="text" placeholder="ALBUM" @bind="Query"/>
                        <button class="btn btn-primary my-2 my-sm-0" @onclick="Search" disabled="@ButtonDisabled">
                            <span class="oi oi-magnifying-glass"></span> Buscar
                        </button>
                    </span>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (tracks == null)
            {
                <p>
                    <em>Cargando...</em>
                </p>
            }
            else
            {
                <table class="table" hidden="@IsVisible">
                    <thead>
                    <tr>
                        <th>Canción</th>
                        <th>Artista</th>
                        <th>Album</th>
                        <th>Id. Canción</th>
                        <th>Id. Artista</th>
                        <th>Id. Album</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in tracks)
                    {
                        <tr>
                            <td>@item.Track</td>
                            <td>@item.AlbumArtist.Artist</td>
                            <td>@item.AlbumArtist.Album</td>
                            <td>@item.TrackId</td>
                            <td>@item.AlbumArtist.ArtistId</td>
                            <td>@item.AlbumArtist.AlbumId</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

@code {
    private TrackResponse[] tracks = Array.Empty<TrackResponse>();
    private string Query { get; set; }
    private bool IsVisible => !(tracks?.Any() ?? false);
    private bool ButtonDisabled { get; set; }

    private async Task Search()
    {
        ButtonDisabled = true;
        tracks = await Http.GetFromJsonAsync<TrackResponse[]>($"track/album?q={Query}");
        ButtonDisabled = false;
    }

}